<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 d-flex mx-auto flex-column">
        <!-- <ng-container *ngIf="loginMessage?.length > 0">
          <div class="alert alert-danger alert-dismissible text-center">
            {{ loginMessage }}
          </div>
        </ng-container> -->
        <form novalidate #myform="ngForm">
          <div class="form-group">
            <label for="email">Email</label>

            <input
              type="email"
              name="email"
              class="form-control"
              [(ngModel)]="inputEmail"
              #email="ngModel"
              required
            />
            <div
              *ngIf="email.invalid && email.dirty && email.touched"
              class="alert alert-danger mt-2"
            >
              <div *ngIf="email.errors.required">
                Email is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              id="password"
              type="password"
              name="password"
              [(ngModel)]="inputPassword"
              #password="ngModel"
              required
            />

            <div
              *ngIf="password.invalid && password.dirty && password.touched"
              class="alert alert-danger mt-2"
            >
              <div *ngIf="password.errors.required">
                Password is required
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-around"
          >
            <button
              class="btn btn-primary btn-sm btn-block"
              (click)="login(myform)"
              [disabled]="myform.invalid && myform.touched"
            >
              Login
            </button>
            <hr />
            <h4 class="text-uppercase"><strong>Login Using</strong></h4>

            <button
              (click)="signInWithGoogle()"
              class="btn btn-danger btn-sm btn-block mt-4"
            >
              <span><i class="fa fa-google"></i> Google </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
